@{
    ViewData["Title"] = "About Me";
}

<div class="text-center">
    <h1 class="display-4">Introducing Myself</h1>
    <p>My name is Tony Martin, and I'm a fourth-year student in Information Technology focusing on Software Development. </p>
    <br>
    <p>I'm currently learning web-server development as well as scripting, while simultaneously exploring networking and minoring in Psychology. </p>
    <br>
    <p>My interests including listening to music, playing video games, and software development. </p>
    <br>
    <p>You can reach me at marti5a6@mail.uc.edu for questions or if you're looking to collaborate.</p>
    <br>
</div>
