@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MuSeek</h1>
    <p>The purpose of this website is to store your favorite artists and albums as you find them. </p>
    <br>
    <p>The inspiration for this project comes from my love for music, and exploring new sounds. </p>
    <br>
    <p>The website is divided into a Music section and an Artists section, where you can add or remove either as you please. </p>
    <br>
    <p>The primary webpage, <a>Explore</a>, will display these items in a formatted table organized by characteristic. </p>
    <br>
</div>
